.sort-filter {
    box-shadow: 0 1px 0 #dddddd;
    background-color: #ffffff;
    padding: 15px 0;

    &__wrap {

    }

    &__label {
        display: inline-block;
        opacity: 0.8;
        color: #000000;
        font-size: 11px;
        font-weight: 800;
        letter-spacing: 0.5px;
        text-transform: uppercase;
    }

    &__category {
        border-radius: 15px;
        background-color: #f5f5f5;
        padding: 8px 28px;
        color: #000000;
        font-size: 11px;
        font-weight: 600;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin-left: 15px;

        &:hover {
            background-color: $primary-color;
            color: #ffffff;
        }

        &--active {
            border: 1px solid #3f51b5;
            background-color: #ffffff;
            padding: 7px 27px;
            color: #3f51b5;
        }
    }
}
