<div style="width: 820px; margin: 0 auto">
    <div class="post-card">
        <div class="post-card__header">
            <img class="img-cover" alt="Image title" src="@@staticUrl/img/post.png">
            <div class="post-card__header-img-substrate"></div>
            <div class="post-card__header-bottom">
                <div class="post-card__header-category">lifestyle</div>
                <div class="post-info">
                    <div class="post-info__content">
                        <svg class="post-info__svg">
                            <use xlink:href="@@svgSpriteUrl/solid.svg#comments"></use>
                        </svg>
                        <div class="post-info__count">28</div>
                    </div>
                    <div class="post-info__content post-info__content--left-padding">
                        <svg class="post-info__svg">
                            <use xlink:href="@@svgSpriteUrl/regular.svg#heart"></use>
                        </svg>
                        <div class="post-info__count">7</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="post-card__content">
            <div class="post-card__content-title">10 Things To Do To Change Your Life Forever</div>
            <div class="post-card__content-desc">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eaque eligendi eveniet ex facere fugiat quia repellat, veritatis?
            </div>
        </div>
        <div class="post-card__footer">
            <img class="post-card__author-photo" src="#" alt="Author name"/>
            <div class="post-card__author-name">Henry Little</div>
            <div class="post-card__published">Apri 28, 2016 10:15</div>
            <button class="post-card__actions">
                <svg class="post-card__action-svg">
                    <use xlink:href="@@svgSpriteUrl/solid.svg#ellipsis-v"></use>
                </svg>
            </button>
        </div>
    </div>
</div>
