<div class="post">
    <div class="post__info"></div>
    <div class="post__content">
        <div class="post__content-title">10 Things To Do To Change Your Life Forever</div>
        <div class="post__content-desc">
            The one constant thing in our life is change.
            We cannot avoid it and the more we resist change the tougher our life becomes.
            I know this because I was very skilled at deflecting change in life.
        </div>
    </div>
    <div class="post__info">
        <img alt="Author name" src="#" class="post__author-photo"/>
        <div class="post__author-name">Henry Little</div>
        <div class="post__published">Apri 28, 2016 10:15</div>
        <button class="post__actions">
            <svg class="post__action-svg">
                <use xlink:href="@@svgSpriteUrl/solid.svg#ellipsis-v"></use>
            </svg>
        </button>
    </div>
</div>
