body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f5f5f5;
}

.section {
    &--top-panel {
        background-color: #191919;
    }
}

.container {
    max-width: 1170px;
    margin: 0 auto;

    &--absolute {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
    }
}

.img-cover {
    position: absolute;
    top: 50%;
    left: 50%;

    width: auto;
    height: auto;

    max-height: none;
    max-width: none;

    min-height: 100%;
    min-width: 100%;

    transform: translate(-50%, -50%);
}
