version: "3.7"
services:
  gulp:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    command: gulp
    ports:
      - '127.0.0.1:3000:3000'
      - '127.0.0.1:3001:3001'
    user: node:node
    volumes:
      - "..:/usr/local/code"
      - "/usr/local/code/node_modules"
