<div class="header">
    <div class="container">
        <div class="header_menu">
            <div class="header__logo">
                <a href="#" class="header__logo-link">
                    <img src="@@staticUrl/img/logo.webp" alt="Pasco" class="header__logo_img">
                </a>
            </div>
            <div class="menu">
                <ul class="menu__items">
                    <li class="menu__item menu__item--active">
                        <a href="#" class="menu__item-link">Home</a>
                        <ul class="menu__items">
                            <li class="menu__item">
                                <a href="#" class="menu__item-link">Sub home</a>
                            </li>
                            <li class="menu__item">
                                <a href="#" class="menu__item-link">Sub home 2</a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__item-link">Portfolio</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__item-link">Blog</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__item-link">Pages</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__item-link">Shop</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__item-link">Components</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__item-link">Feature</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>