<div class="sort-filter">
    <div class="container">
        <div class="sort-filter__wrap">
            <div class="sort-filter__label">sort blog:</div>
            <button class="sort-filter__category sort-filter__category--active">all</button>
            <button class="sort-filter__category">photography</button>
            <button class="sort-filter__category">lifestyle</button>
            <button class="sort-filter__category">trip</button>
            <button class="sort-filter__category">inspiration</button>
        </div>
    </div>
</div>
lol
