<section class="section section--top-panel">
    <div class="container">
        <div class="top-panel">
            <div class="top-panel__social-network">
                <ul class="social-networks">
                    <li class="social-networks__item">
                        <a href="#" class="social-networks__item-link">
                            <svg class="social-networks__item-svg">
                              <use xlink:href="@@svgSpriteUrl/brands.svg#facebook-f"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social-networks__item">
                        <a href="#" class="social-networks__item-link">
                            <svg class="social-networks__item-svg">
                              <use xlink:href="@@svgSpriteUrl/brands.svg#twitter"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social-networks__item">
                        <a href="#" class="social-networks__item-link">
                            <svg class="social-networks__item-svg">
                              <use xlink:href="@@svgSpriteUrl/brands.svg#pinterest-p"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social-networks__item">
                        <a href="#" class="social-networks__item-link">
                            <svg class="social-networks__item-svg">
                              <use xlink:href="@@svgSpriteUrl/brands.svg#vk"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social-networks__item">
                        <a href="#" class="social-networks__item-link">
                            <svg class="social-networks__item-svg">
                              <use xlink:href="@@svgSpriteUrl/brands.svg#google-plus-g"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social-networks__item">
                        <a href="#" class="social-networks__item-link">
                            <svg class="social-networks__item-svg">
                              <use xlink:href="@@svgSpriteUrl/brands.svg#behance"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social-networks__item">
                        <a href="#" class="social-networks__item-link">
                            <svg class="social-networks__item-svg">
                              <use xlink:href="@@svgSpriteUrl/brands.svg#dribbble"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social-networks__item">
                        <a href="#" class="social-networks__item-link">
                            <svg class="social-networks__item-svg">
                              <use xlink:href="@@svgSpriteUrl/brands.svg#instagram"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="top-panel__profile">
                <a href="#" class="top-panel__profile-sign-in">
                    <svg class="top-panel__profile-svg">
                      <use xlink:href="@@svgSpriteUrl/solid.svg#user-circle"></use>
                    </svg>
                    Sign in
                </a>
                <div class="top-panel__lang-switcher">
                    <svg class="top-panel__lang-switcher-svg">
                      <use xlink:href="@@svgSpriteUrl/solid.svg#globe"></use>
                    </svg>
                    <select class="lang-switcher">
                      <option class="lang-switcher__item" value="en" selected>ENG</option>
                      <option class="lang-switcher__item" value="uk">UKR</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</section>
